@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Roboto:wght@500;700&family=Source+Sans+Pro:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
  font-family: "Source Sans Pro";
}

header {
  background-color: #42afe4;
}

header h1 {
  text-align: center;
  font-family: "Source Sans Pro";
  color: #ffff;
  font-size: 5rem;
  padding: 4rem;
}

header h1 a{
  color: #384047;
}

#container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

button {
  color: #ffff;
  background-color: #2fcc71;
  font-style: bold;
  width: 15%;
  height: 5rem;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  border-radius: 1rem;
  border-style: none;
  cursor:pointer;
}

#cards {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 0px;
  color: #384047;
}

#cards article {
  justify-self: center;
  text-align: center;
  width: 100%;
}

#cards h1 {
  font-size: 3.8rem;
  font-weight: 700;
}

#cards p {
  font-size: 3rem;
  font-weight: 400;
}

@media (max-width: 768px) { 
  header {
  width: 100%;
  }
  header h1{
    width: fit-content;
    font-size: 4rem;
  }
 
  button {
    width: 40%;
  }

  #cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }

  #cards h1 {
    font-size: 3rem;

  }
  
  #cards p {
    font-size: 2rem;
  }
}

@media (max-width: 440px) { 

  header h1{
    width: fit-content;
    font-size: 3rem;
  }
 
  button {
    width: 65%;
  }

  #cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #cards h1 {
    font-size: 2.7rem;
  }
  
  #cards p {
    font-size: 2rem;
  }
}