@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Roboto:wght@500;700&family=Source+Sans+Pro:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  html,
  body {
    scroll-behavior: smooth;
    height: 100vh;
    width: 100%;
    font-family: 'Source Sans Pro';
  }

header { 
  background-color: #42AFE4;
}

header h1 {
  text-align: center;
  color:#ffff;
  font-size: 4rem;
  font-weight: 700;
  padding: 2rem;
}

.content1 {
  display: flex;
  flex-direction: row;
}

.content1 img{
  width: 20%;
  padding: .4rem;
}

#content--title{
  font-weight: 700;
  font-size: 4rem;
  color: #384047;
  text-align: center;
  margin: 2rem 0 2rem 0;
}

section#content2--cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 2rem;
}

#content2--cards article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#content2--cards article img{
  width: 6rem;
}

#content2--cards  p {
  font-size: 1rem;
  width: 60%;
  text-align: center;
}


@media (max-width: 768px) { 
  .content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .content1 img{
    width: 100%;
  }

  section#content2--cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
  }

}